
$bg-color-navbar: #00a087;
$bg-color-button: #dddddd;
$button-color-shadow: #666666;
$font-color-navbar: #e8fdff;
$bg-color-tweets: #eeeeee;
$bg-color-textbox: #ffffff;
$color-border-new-tweet: #bbbbbb;
$color-border-old-tweet: #aaaaaa;

$bg-color-body: $bg-color-tweets;
$font-color-body: #244751;
$font-stack: 'Roboto Condensed', sans-serif;